services:
  postgres:
    image: postgres:17-alpine
    container_name: zikom-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: zikom
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
